.visualization-area {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-image: url('/china-map.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
